
body, h1, h2, p, ul, li, a {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #ddbdf4;
}
.act_div{
  padding-left: 20px;
}
header {
  background-color: #FF6B6B; 
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 18px;
}

nav {
  background-color: #F4A261; 
  justify-items: center;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}


nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s; 
}


main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2A9D8F; 
}

section ul {
  list-style-type: disc;
  margin-left: 20px;
 
}

section ul:hover {
  color: #E76F51; 
}

section li {
  font-size: 18px;
  margin-bottom: 8px;
  color: #E76F51; 
}

section li:hover {
  color: #2A9D8F; 
}

section p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #E76F51;
}

footer {
  background-color: #2A9D8F; 
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  font-size: 16px;
}


img{
  float: right;
  position: absolute;
  top: 200px;
  right: 100px;
  border-style: solid;
  border-radius: 10%;
  border-color: #2A9D8F;
  border-width: 5px;
}
.activity{
  padding-left: 10%;
}

.home_button {
  background-color: #FF6B6B; /* Coral Red */
  color: #fff;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 5px;
  border-width: 0px;
  transition: background-color 0.3s; 
  display: absolute;
  margin: 20px auto;
  position: absolute;
  bottom:50px;
  right: 220px;
}

.home_button:hover {
  background-color: #2A9D8F;
}